
@font-face {
  font-family: 'iconfont';  /* project id 898928 */
  src: url('//at.alicdn.com/t/font_898928_z8ve38k285b.eot');
  src: url('//at.alicdn.com/t/font_898928_z8ve38k285b.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_898928_z8ve38k285b.woff') format('woff'),
  url('//at.alicdn.com/t/font_898928_z8ve38k285b.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_898928_z8ve38k285b.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  color:#fac614;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-food:before{content: "\ebc9";}

.icon-tubiao:before { content: "\e670"; }

.icon-shopping:before { content: "\e616"; }

.icon-tubiao1:before { content: "\e698"; }

.icon-collection:before { content: "\e6ea"; }

.icon-createtask_fill:before { content: "\e6ee"; }

.icon-createtask:before { content: "\e6ef"; }

.icon-empty:before { content: "\e6f7"; }

.icon-empty_fill:before { content: "\e6f8"; }

.icon-homepage_fill:before { content: "\e702"; }

.icon-homepage:before { content: "\e703"; }

.icon-interactive_fill:before { content: "\e704"; }

.icon-interactive:before { content: "\e705"; }

.icon-like_fill:before { content: "\e707"; }

.icon-like:before { content: "\e708"; }

.icon-mobilephone_fill:before { content: "\e70f"; }

.icon-mobilephone:before { content: "\e710"; }

.icon-redpacket_fill:before { content: "\e71d"; }

.icon-redpacket:before { content: "\e71e"; }

.icon-select_fill:before { content: "\e725"; }

.icon-select:before { content: "\e726"; }

.icon-shielding_fill:before { content: "\e72a"; }

.icon-shielding:before { content: "\e72b"; }

.icon-tasklist_fill:before { content: "\e733"; }

.icon-tasklist:before { content: "\e734"; }

